@model IEnumerable<DomainProduct.Entities.ProductImage>

<script>
    jQuery(document).ready(function ($) {
        slickGallery();
    });
    function checkImagesSize(imageQuantity) {
        var images = $(".car-gallery .ui.image").length;
        if (images >= imageQuantity) {
            return imageQuantity;
        } else {
            return images;
        }
    }

    function destroyCarousel() {
        $('.car-gallery').slick('destroy');
    }


    function slickGallery() {
		 var isVertical = window.matchMedia("(min-width: 769px)").matches;
        $('.car-gallery').slick({
            prevArrow: '<a class="slick-prev ui mini button basic black icon"><i class="chevron left icon"></i></a>',
            nextArrow: '<a class="slick-next ui mini button basic black icon"><i class="chevron right icon"></i></a>',
            dots: false,
            slidesToShow: 3,
            mobileFirst:true,
            useTransform:false,
				vertical:isVertical,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3
                    }
                }
            ]
        });
    }
</script>
<div class="car-gallery thumbnails">
    @foreach (var item in Model)
    {
		 <div class="item">
			<a href="@(item.ImageHighResolution != null ? item.ImageHighResolution : "#" )" data-standard="@item.ImageDefault">
					@* HREF = Imagem ZOOMO / Data-starndard = Imagem Sem zoom*@
					<img src="@item.ImageDefault" onerror="imgError(this)" class="ui image small"/>
			</a>
		 </div>
    }
</div>
<div class="ui divider hidden"></div>
