/*Colors*/

$primary-color: #D8D8D8;
$secondary-color: #3298a9;
$active-color: #565d66;
$ascent-1-color: #00CECB;
$ascent-2-color: #FFED66;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;