.infoBar {
	color: $ascent-1-color;
	background-color: $ascent-5-color;
	.item_infobar {
		margin: 0.25em 0 !important;
		padding: 0.25em 0;
		transition: all 0.15s linear;
		border-radius: 0;
		&:hover {
			position: relative;
			box-sizing: border-box;
			border-radius: 5px;
			background-color: lighten($ascent-5-color, 10%);
			box-shadow: 0 0 2px 0px #fff8;
			cursor: default;
			
			h5,
			small{
				transform: none;
				z-index: 1;
			}
			small{
				visibility: visible
			}
		}
	}
	.icon_place,
	.text_place {
		display: inline-block;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.icon_place {
		width: 38px;
		height: 100%;
		margin-right: 5px;
		.icon {
			font-size: 32px;
			line-height: 38px;
			padding-right: 5px;
		}
	}
	.text_place {
		width: calc(100% - 48px);
		line-height: 1;
		position: relative;
		h5,
		small{
			margin: 0;
			transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
			position: relative;
		}
		h5{
			transform: translateY(-100%);
			transform: translateY(75%);
		}
		small{
			z-index: -1;
			visibility: hidden;
			transform: translateY(100%);
		}
	}
	.row {
		padding: 0px !important;
	}
	.ui.grid {
		margin: 0px !important;
	}
}