topbar,
headlogo {
	width: 100%;
}

.logo {
	max-height: 80px;
}

._header {
	margin-top: 0px;
	padding: 10px 0;
	background-color: darken($secondary-color,10%);
	background-image: url("/assets/image/background/background-azul.jpg");
	&.fixed {
		box-shadow: rgba(0, 0, 0, .3) 0px 0px 10px 0px;
	}
	.ui.container {
		padding-top: 0px !important;
		padding-bottom: 10px !important;
	}
	i.circular.icon {
		box-shadow: none;
	}
	.ui.floating.label {
		top: 0.8em;
		left: 105%;
	}
	.searchcolumn {
		@media screen and (max-width: $mobile-bp) {
			display: none !important;
		}
	}
	.cartbutton {
		color: white;
		position: relative;
		.mini-cart-count{
			position: absolute;
			z-index: 1;
			font-size: 10px;
			display: inline-block;
			background: white;
			border: solid 1px $ascent-1-color;
			padding: 0.25em 0.75em;
			width: 2.5em;
			text-align:  center;
			top: -3px;
			right: -5px;
			border-radius: 100%;
		}
		span{
			@media screen and (max-width: $mobile-bp) {
				display: none;
			}
		}
		&:focus{
			outline: none;
		}
	}
}